{% extends 'base.html.twig' %}

{% block title %}
    Blog
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Blog</h1>

    {% for post in posts %}
        <div class="post">
            <h2>{{ post.title }}</h2>
            <p>{{ post.description }}</p>
        </div>
    {% endfor %}
{% endblock %}
